@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    color: blueviolet;
    text-decoration: underline overline line-through none;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 100px;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 20px;
}
