.example {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    /* border-radius: 50px 40px 30px 20px; */
    /* border-radius: 20px/40px; */

    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 20px;
}

ul li {
    list-style-type: circle;
    list-style-position: inside;
    /* list-style-image: url(../img/icons8-about-48.png); */
}

h1 {
    /* color: red; */
    /* color: #000; */
    color: rgba(255, 0, 0, 0.5);
    /* color: hsl(0, 100%, 50%); */
}
