body {
    height: 1000px;
}

h4 {
    border: 1px solid black;

    position: absolute;
    bottom: 150px;
}

.test {
    border: 10px solid red;
    /* width: 100px; */
    height: 100px;
    display: inline-block;
    box-sizing: border-box;

    position: sticky;
    top: 20px;
    right: 20px;
    min-width: 100px;
    max-width: 300px;
}
