h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
    border: 1px solid #000;
}

/* #popp {
    color: green;
} */


/* #pop {
    color: blue;
} */

.red h5.lol {
    color: red;
}
