li {
    font-size: 2rem;
}

.main {
    font-size: 10px;
}

html {
    font-size: 10px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal {
    border: 2px solid black;
    width: 300px;
    height: 100px;
    background-color: cornflowerblue;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 2;
    /* overflow: hidden; */
    overflow-y: auto;

}


/* Абсолютные величины Absolute Lengths units */
/*  unit	    name	                equivalence
    cm	    centimeters	            1cm = 96px/2.54
    mm	    millimeters	            1mm = 1/10th of 1cm
    Q	    quarter-millimeters	    1Q = 1/40th of 1cm
    in	    inches	                1in = 2.54cm = 96px
    pc	    picas	                1pc = 1/6th of 1in
    pt	    points	                1pt = 1/72nd of 1in
    px	    pixels	                1px = 1/96th of 1in */

/* Относительные величины Relative length units */
/* unit	    relative to
    em	    font size of the element
    ex	    x-height of the element’s font
    ch	    character advance of the “0” (ZERO, U+0030) glyph in the element’s font
    rem	    font size of the root element
    vw	    1% of viewport’s width
    vh	    1% of viewport’s height
    vmin	1% of viewport’s smaller dimension
    vmax	1% of viewport’s larger dimension */
