body {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    width: 100%;

    /* background-color: gainsboro; */
    /* background-image: url(../img/icons8-about-48.png); */
    /* background-size: 300px 150px; */
    /* background-repeat: no-repeat; */
    /* background-position: 50% 50%; */
    /* background-attachment: fixed; */
    /* background: gainsboro url(..//img/icons8-about-48.png) 50% 50% no-repeat fixed; */
    background: url(..//img/preview.png) center no-repeat, url(..//img/icons8-about-48.png);
}
