a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: aqua;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:focus {
    font-weight: bold;
}

p::first-letter {
    font-size: 40px;
}

p::first-line {
    text-decoration: underline;
}

P::selection {
    background-color: yellow;
    color: red;
    font-size: 40px;
}

h1::before {
    content: "This is";
    text-transform: uppercase;
}

h1::after {
    content: " channel";
    color: red;
}

.list1 li:first-child {
    color: blue;
}

.list1 li:last-child {
    color: green;
}

.list2 li:nth-child(even) {
    color: blue;
}

.list2 li:nth-child(odd) {
    color: green;
}

.list2 li:nth-child(2) {
    color: blue;
}

.list2 li:nth-child(3) {
    color: green;
}

.list3 li:nth-child(3n + 1) {
    text-transform: uppercase;
}

.list3 li:nth-child(4n + 2) {
    border: 1px solid black;
}

.text span:first-of-type {
    color: red;
}

.text span:last-of-type {
    color: green;
}

.text span:nth-of-type(2) {
    border: 1px solid black;
}

.list4 li:not(.item) {
    border: 1px solid blue;
}
