* {
    color: red;
}

p {
    color: green;
}

h1 {
    color: blue;
}

.heading1 {
    text-decoration: underline;
}

.heading2 {
    text-transform: uppercase;
}

p.fz20 {
    font-size: 20px;
}

#heading,
#heading2 {
    font-size: 40px;
    border: 1px solid black;
}

q {
    color: blue;
}

q.simple {
    color: aqua;
}

body q.simple {
    color: fuchsia;
}
